#pragma once

// Renombra este archivo a 'secrets.h' y coloca tus credenciales reales
// Credenciales Wi-Fi (Red 2.4 GHz)
const char* const SECRET_WIFI_SSID = "TU_WIFI_SSID";
const char* const SECRET_WIFI_PASS = "TU_WIFI_PASSWORD";

// Credenciales de Telegram Bot
const char* const SECRET_BOT_TOKEN = "TU_TELEGRAM_BOT_TOKEN";
const char* const SECRET_CHAT_ID   = "TU_TELEGRAM_CHAT_ID";

// DATOS PARA MQTT (HOME ASSISTANT)
#define SECRET_MQTT_BROKER "192.168.x.x"  // Reemplaza con la IP de tu Home Assistant
#define SECRET_MQTT_USER "tu_usuario_home_assistant_mqtt"
#define SECRET_MQTT_PASS "tu_clave_home_assistant_mqtt"