#pragma once

// Renombra este archivo a 'secrets.h' y coloca tus credenciales reales
// Credenciales Wi-Fi (Red 2.4 GHz)
const char* const SECRET_WIFI_SSID = "TU_WIFI_SSID";
const char* const SECRET_WIFI_PASS = "TU_WIFI_PASSWORD";

// Credenciales de Telegram Bot
const char* const SECRET_BOT_TOKEN = "TU_TELEGRAM_BOT_TOKEN";
const char* const SECRET_CHAT_ID   = "TU_TELEGRAM_CHAT_ID";